[run]
omit = 
    */migrations/*
    */site-packages/*
    settings.py
    local_settings.py

[report]
omit = 
    */tests/*
    */migrations/*
    */site-packages/*
    settings.py
    local_settings.py